.tableBorder {
  border: solid 1px #CCC;
}

.align-right {
  text-align: right;
}

.m-bottom-02 {
  margin-bottom: 0.2rem;
}

.m-bottom-05 {
  margin-bottom: 0.5rem;
}

.m-right-07 {
  margin-right: 0.7rem;
}